*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#EE4036
}
html{
    color-scheme: light dark;
}
@font-face {
    font-family: FONTS;
    src: url(/fonts/Barlow/Barlow-Regular.ttf);
}

body{
/*     font-family: FONTS; */
    font-family: 'Barlow', sans-serif;
    background-color: black;
    font-weight: bold;
}

header{
    display: flex;
    background-color:white ;
    justify-content: space-between;
  
}
header * p{
    color: black;
}

.logo{
    width: 10%;
    height: 10%;
    padding: 10px;
}

.header-box{
    display: flex;
    /* background-color: red; */
    justify-content: end;
    margin-right: 4%;
    width: 40%;
    gap: 50px;
}

.header-buttons{
    /* background-color: yellow; */
    display: flex;
    height: 30px;
    margin: auto 0;
    gap: 10px;
    align-items: center;
}



.icons{
    width: 20px;
    height: 20px;

}

.search-bar{
    border: none;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding:6px 15px ;
    background-color: black;
    color: white;

}

.nav-search{
    display: none;
}
/* Navigation bar CSS*/

.navigation {
    background-color: #333;
    overflow: hidden;
    padding-block: 7px ;
  }

  /* Style for the navigation items */
  .navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  /* Style for the navigation items on hover */
  .navigation a:hover {
    /* background-color: #555; */
    color: #EE4036;
    text-decoration: underline;
  }

 

  #location-link{
    display: none;
  }

/* Track input CSS */
  .track{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(114, 113, 113, 0.382), rgba(91, 90, 90, 0.295)), url(/images/pexels-tima-miroshnichenko-6169660.jpg);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .track h3{
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  form{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .track-input{
    width: 40%;
    padding: 15px ;
    border-radius: 5px;
    color: white;
  }
form > button{
    padding: 12px;
    width: 85px;
    background-color: #EE4036;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 500;
    border: none;

}

/* Style for the toggle button */
.toggle-button {
    display: none; /* Initially hide the button on larger screens */
  }

  .shipping{
    width: 100%;
    background: rgb(224, 213, 213);
    padding-block:25px ;
  }

  .ship-title{
    text-align: center;
  }

  .ship-title h1{
    color: #EE4036;
    font-size: 45px;
    font-weight: 900;
  }

  .ship-title p {
    color: black;
    font-size: 25px;
  }

  .shipping-categories{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .document-shipping{
    display: grid;
    padding: 10px;
    margin-block: 10px;
    width: 50%;
    /* background-color: green; */
    text-align: center;
    box-shadow: 0 0 .1em .1em gray ;
    border-radius: 5px;
    gap: 30px;
    transition: transform 400ms;
  }

  .document-shipping:hover{
    transform: scale(1.05);
  }

  .description{
    margin-block: 15px;
  }

  .description h3{
    color: #EE4036;
    font-size: 27px;
    margin-bottom: 15px;
  }
  .description p{
    color: black;
  }

  .image-description{
    background-color: transparent;
    
    
  }
  .image-description > img{
    width:100% ;
    border-radius: 8px;
    display: inline-block;
    align-items: end;
  }

/* foooter CSS */
  footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    font-weight: 500;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-logo img {
    width: 80px;
    height: 50px;
    /* border-radius: 50%; */
  }

  .footer-logo p {
    font-size: 20px;
    margin-top: 10px;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
  }

  .footer-links li {
    margin-bottom: 10px;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  .footer-links a:hover {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
  }

  .footer-contact p {
    font-size: 16px;
    margin: 10px 0;
  }

  .footer-social {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 8px;
  }

  .footer-social p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }

  /* Style all font awesome icons */
.fa {
   
    padding: 12px;
    font-size: 10px;
    width: 35px;
    aspect-ratio: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .copyright{
    margin: 10px ;
  }


  /* Create a responsive navigation for small screens (e.g., mobile devices) */
  @media screen and (max-width: 600px) {

    .navigation{
        display: none;
    }

    .toggle-button {
        display: block; /* Show the button on smaller screens */
      }

      .show {
        display: block; /* Show the navigation when the "show" class is applied */
      }
    
    /* Style for the button icon (a simple three-bar menu icon) */
    .toggle-button-icon {
      color: white;
      font-size: 25px;
      padding: 15px 0 15px 10px;
    }
    

    header{
        display: flex;
        background-color:white ;
        justify-content: space-between;
        height: 70px;
      
    }

    .logo{
        width: 100px;
        height: 70px;
        margin: auto 5px;
    }

    .navigation a {
      float: none;
      width: 100%;
    }
   
    .nav-search{
        display: block;
    }

    .location{
        display: none;
    }

    #location-link{
        display: block;
      }

      #service-link{
        margin-left: 0;
      }

      form input{
        padding: 10px;
        height: 25px;
        width: 50%;
      }

      form > button{
        padding: 8px;
        /* height: 25px; */
        width: 65px;
      }

      .shipping-categories{
        width: 100%;
        flex-direction: column;
      }

      .document-shipping{
        width: 80%;
        margin: 10px auto;
        /* background-color: green; */
      }

      .image-description img{
        width:100% ;
      }


      .footer-container {
        flex-direction: column;
        text-align: center;
      }

      .footer-logo {
        margin-bottom: 20px;
      }

      .footer-links {
        margin-bottom: 20px;
      }

      .footer-links ul {
        padding-left: 0;
      }

      .footer-links li {
        margin: 10px 0;
      }

      .footer-social {
        margin-top: 20px;
      }
  }
